
.web-logo{
    display:flex;
    width: 44px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--IRIS, #4D5AE5);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.studio-logo{
    color: var( #2E2F42);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.studio-logo1{
    color: var(--CLOUD, #F4F4FD);
    width:71px;
    height:21px;
    font-size:18px;
    font-style:normal;
    font-weight:800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    

}
body{
    font-family:"Roboto"
}
.container{
    display:flex;
    margin: 0 auto;
    width:1158px;
    padding: 0 15px;
}
.logo web{
    display:flex;
    justify-content: space-between;
}
.logo-list{
    display:flex;
    text-align:left;
    justify-content:space-evenly;
    align-items:left;
    display:inline-flex;
    margin-top:20px;
    margin-right:76px;
}

.features-list{
    display:inline-block;
    display:flex;
    color: var(--NAVY-BLUE, #2E2F42);
    justify-content:space-evenly;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing:0.4px;
    width:264px;
}
/*
.description1{

    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
}
*/
.list{
    display:flex;
    gap:10px;
    justify-content:space-between;
    align-items:left;
    display:inline-flex;
    margin-top:20px;
    font-size:20px;
}
.list-1{
    display:flex;
    display:inline-flex;
    margin-left:5px;
    margin-top:20px; 
    font-size:20px;
    
}
.nav.nav{
    font-weight:500px;
}
.list1{
    display: flex;
    padding: 24px 0;
    gap: 40px;
}
    /*
    display:flex;
    display:flex-end;
    margin-left:190px;
    margin-top:20px;
    gap:1px;
    justify-content:flex-end;
    align-items:center;*/ 

.list2{
    display:flex;
    margin-left:50px;
    gap:16px;
    align-items:center;
    margin-top:20px;
    font-size:24px;
}
.solution{
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    padding:100px 200px 50px;
    justify-content:center;
    display:flex;
    Text-transform:uppercase;
}
.hero{
     
     background: var(--NAVY-BLUE, #2E2F42);
     width:1440px;
     height:600px;
     justify-content: center;
     flex-shrink: 0;
}
.text{
     color: var(--NAVY-BLUE, #2E2F42);
     text-align: center;
     font-family: Roboto;
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: 40px; /* 111.111% */
     letter-spacing: 0.72px;
     text-transform: capitalize
}
.image{
    display:flex;
    display: inline-flex;
    flex-direction:row;
    align-items: flex-start;
    gap:24px;
    height:200px;
    width:360px;
    
}
/*
.img1{
    display:flex;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:2px; 
    height: 250px;
}
.img3{
    display:flex;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:2px; 
    height: 250px;}
    */

.img2{
    display:flex;
    display: inline-flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:flex-start;
    margin-left:30px;
    gap:24px;
    justify-content:space-between
}
.img2-des{
    display:flex;
    align-items: center;
    margin-left:130px;
    margin-right:100px;
    gap:10px;
    font-size:20px;
}
.bg-dark{
    
    background-image:url();
    text-align:left;
    align-items:left;
    width:1440px;
    height:200px;
    justify-content:left;
    flex-shrink:0;
    padding:10px 156px 20px 50px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;color: var(--CLOUD, #F4F4FD);
    margin:200px auto 0 auto;
}
.hero-btn{
    display: inline-flex;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border:1000px;
    justify-content: center;
}

.header-list{
    border-bottom: 1px solid var(--Cornflower);
    background-color: var(--White);
    display:flex;
    justify-content:space-between;
    padding-left:20px;
    max-width:1200px;
    margin:0 auto;
}
.list-list{
    display:flex;
    justify-content:space-between;
    gap:1px;
}
.list-2{
    display:flex;
    gap:3px;
    margin-right:10px;
    justify-content:flex-end;

}
.nav-list{
    display: flex;
    align-items: center;  
    padding: 24px 0;
}

/*
.list-list1{
    display: flex;
    
    padding: 24px 0;
    gap: 40px;
}
*/
.hero-btn:hover{
    cursor:pointer;

    background-color:var (--WHITE, #FFF);
}
.card-container{
    display:flex;
    justify-content:center;
    gap:40px;
} 
.card{
    list-style:none;
    text-align:center;
    font-size:20px;
    width:264px;
    height:260px;
    box-shadow: 0px 2px 1px 0px #2e2f4214;
    box-shadow: 0px 1px  1px 0px #2e2f4229;
    box-shadow: 0px 1px 6px 0px #2e2f4214;
}

.description1{ 
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-top:20px;
    align-items: left;
    justify-content:flex-start;
    text-align:left;
}

.work{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-left:auto 0;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    
}
.work1{
    display:flex;
    justify-content: center;
    gap:24px;
    margin-bottom:200px;
}
.team{
    display:flex;
    align-items: center;
    margin-left: 200px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align:center;
    justify-content:space-evenly;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
/*
.team-designation{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align:left;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
    margin-left:20px;
}
*/
/*
.team-designation{
    display:flex;
    display:inline-flex;
    align-items: center;
    margin-left:5px;
    margin-right:5px;
    gap:5px;
    
}
*/
.title{
    display:flex;
    display:flex-start;
    max-width: 1440px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-between;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;

    margin-top:5px;
    background:white;
    align-items:center;
    width:1440px;
    height:600px;
    overflow:hidden;


    /*
    display:flex;
    display:inline-flex;
    align-items:baseline;
    flex-direction:row;
    flex-wrap:nowrap;

    justify-content:space-evenly;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    letter-spacing: 0.4px;
    margin-bottom: 20px;*/

  
}
.title-des{
    text-align: center;
    justify-content:center;
    margin-bottom: 20px;
    margin-left:20px;
}

.des{
    color:var(--SLATE, #434455);
    align-items:baseline;
    margin-top:40px;
    margin-left:20px;
    font-size: 16px;
    font-style:normal;
    font-weight:400;
    line-height:24px; 
    letter-spacing:0.32px;
}
.descript{
    display:flex;
    display:inline flex;
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 1.5px;
}
.btn-button1{
    cursor:pointer;
    display:flex;
    color: var(--WHITE, #FFF);
    text-align: center;
    align-content:center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    display:inline-flex;
    padding: 12px 24px;
    align-items: center;
    justify-content:center;
    flex-direction:row;
    gap:50px;
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.btn-button{ 
    cursor:pointer;
    display:flex;
    color: var(--WHITE,#FFF);
    text-align:center;
    align-content:center;
    align-self:center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500px;
    line-height: 24px; 
    letter-spacing: 0.64px;
    display:inline-flex;
    padding: 12px 24px;
    align-items: center;
    justify-content:center;
    gap:100px;
    border-radius:4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.web-logo{
    display: flex;
    width: 44px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--IRIS, #4D5AE5);
    font-family:Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.studio-footer{
    color:var(--cloudcolor);
}
.header{
    border-bottom: 1px solid var (--cornflower,#e7e9fc);
}
.container{
    margin: 0 auto;
    width:1158px;
    padding: 0 15px;
}
.logo.web{
    display: flex;
    justify-content: space-between
}
.logo{
    display:flex;
    text-align:left;
    justify-content:space-evenly;
    align-items:left;
    display:inline-flex;
    margin-top:20px;
    margin-right:76px;
}
.features-list{
    display:flex;
    gap:20px;
}
.item-list{
    display:flex;
    gap:24px;
    text-align:center;
}
.hero{
    padding-top: 100px;
    text-align:center;
    margin:0 auto;

}

/*
.h4{
    display:flex;
    display:inline-flex;
    justify-content:center;
    align-items: center;

}
*/
.h4{
    display:flex;
    align-items: center;
    margin-left:130px;
    margin-right:100px;
    gap:10px;
}
/*Portfolio*/

.header-list1{
        border-bottom: 1px solid var(--Cornflower);
        background-color: var(--White);
        display:flex;
        justify-content:space-between;
        max-width:1440px;
        height:72px;
        margin:0 auto;
        
}
.list-list1{
    display:flex;
    justify-content:space-between;
    gap:1px;
}
.Port-logo{
    display:flex;
    text-align:left;
    justify-content:space-evenly;
    align-items:left;
    display:inline-flex;
    margin-top:20px;
    margin-right:76px;

}
.btn-button2{
    display:flex;
    justify-content:center;
    margin-top:100px;
    margin-bottom:72px;
    gap:24px;
    
}
.office{
    display:flex;
    background-image:url('../images/people.png');
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    width:1440px;
    height:600px;
    justify-content:center;
    flex-shrink:0;
    padding-top:188px;
    padding-bottom: 188px;
    align-items:center;
    align-content:center;
    align-content: center;
    
    padding-top: 100px;
    text-align:center;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    object-fit:fill;
}  

.icon{
    display:flex;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding-top:2px;
    padding-bottom:5px;
    text-align:center;
    width:1140px;
    margin-left:0 auto;
    margin-right: 0 auto;
    margin-top:2px;
}